<a href="https://colab.research.google.com/github/pedrorotta/Python_B-sico-/blob/main/Clase6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Clase 6 : Análisis de datos**

En el transcurso del curso hemos desarrollado los conceptos básicos de python. En esta sesión desarrollaremos los principios básicos de un tratamiento de datos y además un análisis de datos utilizando Pandas Y Numpy por completo. Esto con el fin de incursionar más adelante en el mundo del machine learning.

**Puntos principales en el análisis de datos**

El análisis de datos tiene por objetivos lo siguiente: 

* Visualizar de manera estructurada los datos (Por medio de tablas o de relaciones en bases de datos) 

* Desarrollar un análisis estadístico de un dataset por medio de gráficas visuales que faciliten la interpretación

* Desarrollar informes (History telling) acerca del análisis de datos de una manera detallada y simplificada para poder estimar y deducir resultados de las variables. 

* Analizar relaciones y predicciones en base al dataset obtenido, respetando los criterios y análisis que se presentan.

## **Recepción de data**

Hay muchas formas de recibir datos, diferentes tipos de formato, pero lo más básico es recibirlo desde un archivo en la PC. Desde el archivo de pc, es util el tener los datos en el Drive de Google o en algún archivo en tus carpetas de memoria. Existen varios tipos de archivos que pueden ser leídos por python. Para leer los archivos usamos la librería pandas.

Los tipos de archivos más comunes que pueden ser leídos, son: 

* CSV

* JSON

* Excel 

* Stata

* HTML

Puedes encontrar una descripción gneeral de todos los formatos compatibles [aquí](https://pandas.pydata.org/docs/user_guide/io.html)

### **Librería Pandas**

La librería pandas permite trabajar con datos estructurados o con bases de datos para análisis de datos. Las operaciones que permite son muchas, entre las que destacan: 

* Recepción de datos
* Análisis estadístico de datos
* Conversión de datos en un DataFrame (Tabla de datos) 

Entre otras.

In [ ]:
#importamos pandas

#### **Ejemplo práctico**

Para este ejemplo usaremos el siguiente dataset de *[Kaggle](https://www.kaggle.com/spscientist/students-performance-in-exams): 

Este dataset pretende ser como una estimación de la importancia de factores externos a estudiantes para sus calificaciones.  

La idea de analizar este dataset es determnar datos analíticos de la data que permitan realizar algunas conclusiones. 

*Kaggle: Es una página web enfocada casi al 100% para el análisis de datos, la idea de la página web es fomentar una comunidad dedicada al aprendizaje y al compartir información acerca del análisis de datos.

In [ ]:
# guardar archivo en python

In [ ]:
#convertir a dataFrame

In [ ]:
#Visualizar en tabla 
#Formato entero
#comando head

Para este caso hemos utilizado un dataset desde nuestro drive. Pero también podemos hacer nosotros nuestro propio dataset y al mismo tiempo convertirlo en DataFrame.

In [ ]:
# Ejemplo

### **Guardar data**

Así como es útil recibir datos de python, también es util cuando guardamos un archivo. para esto podemos usar el comando write

In [13]:
#Ejemplo

## **Análisis estadístico**

Una de las cosas interesantes en el análisis de datos, es presentar un análisis estadístico del dataset, esto lo podemos hacer con pandas y [seaborn](https://seaborn.pydata.org/) que es una librería dedicada al análisis estadístico. De esta librería podemos exportar varias funciones para visualizar estadísticamente nuestra data. Para realizar gráficas también utilizamos otra librería que se llama [Matplotlib](https://matplotlib.org/)

In [20]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [74]:
Nota1 = df2["Nota1"]
Nota1.mean()

13.6

In [ ]:
#abrir el archivo

In [77]:
alumnos = pd.read_csv("/content/drive/MyDrive/archivos_python/exams.csv")

In [89]:
#mostrarlo como tabla (dataframe)

In [78]:
alumnos.head()

   gender race/ethnicity  ... reading score writing score
0    male        group A  ...            45            44
1    male        group B  ...            62            56
2  female        group C  ...            73            67
3  female        group C  ...            80            72
4  female        group B  ...            85            85

[5 rows x 8 columns]

In [153]:
## cambiar nombres de columnas

alumnos.rename(columns={"parental level of education": "educ padres"})

    gender race/ethnicity  ... reading score writing score
0     male        group A  ...            45            44
1     male        group B  ...            62            56
2   female        group C  ...            73            67
3   female        group C  ...            80            72
4   female        group B  ...            85            85
..     ...            ...  ...           ...           ...
95  female        group C  ...            74            69
96    male        group B  ...            58            59
97    male        group C  ...            71            58
98  female        group E  ...            85            79
99    male        group D  ...            76            85

[100 rows x 8 columns]

In [ ]:
#Valores estadísticos

In [90]:
alumnos.describe()

       math score  reading score  writing score
count  100.000000     100.000000     100.000000
mean    69.260000      71.740000      70.580000
std     14.076716      14.017752      14.112234
min     27.000000      33.000000      27.000000
25%     60.750000      63.000000      60.000000
50%     70.500000      71.000000      69.500000
75%     79.000000      83.000000      83.000000
max    100.000000     100.000000     100.000000

1) Anlizar valores no numéricos de género 

```
mujeres = alumnos.loc[(alumnos['gender']=="female")]
mujeres
nm = len(mujeres) #devuelve el número de filas
print(nm)
hombres = alumnos.loc[(alumnos['gender']=="male")]
nh = len(hombres)
print(nh)

## Graficar (Gráfico de barras):

plt.bar(["#hombres","#mujeres"],[nh,nm])

```

In [247]:
#Valores no numéricos

#Valor de género (loc)

Para etnia :
* No sabemos cuantas etnias son
* Cuantos por cada uno hay

```
etnias = alumnos["race/ethnicity"]
etnias.describe()
```

```
valores = etnias.value_counts()
val_np = np.array(valores)
val_list = list(val_np)
axes_val = list(valores.axes)
print(val_list)
print(axes_val[0])
plt.bar(axes_val[0],val_list)
```

Para conocer el número exacto de cada uno vamos a utilizar [documentación ](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html)

Pie chart : 
```
### Piechart
fig1 = plt.figure(figsize=[5,5])
plt.pie(val_list,labels = axes_val[0],autopct='%1.0f%%')
plt.show()
```

In [250]:
##Tratamiento para raza/etnia : 
## Consideraciones : 
  # No conocemos cuántos grupos hay

In [251]:
#describimos para saber el número de etnias

Ejemplo para Educación de padres: 

Renombramos la columna 

`alumnos1 = alumnos.rename(columns = {'parental level of education' :'educ padres' })`

```
edp = alumnos1["educ padres"]
plt.figure(figsize=(10,10))
plt.hist(edp,bins=5,)
plt.show()
```

Y si ponemos todos los plots en un mismo gráfico (¿Más guay?)

```
fig, axs = plt.subplots(3,1, figsize = (10,20))
axs[0].bar(["#hombres","#mujeres"],[nh,nm])
axs[1].pie(val_list,labels = axes_val[0],autopct='%1.0f%%')
axs[2].hist(edp,bins=5)
plt.show()
```

In [254]:
#Hazlo

Tarea grupal : Sacar datos estadísticos de lunch y test preparation course

¿qué más podemos hacer? 
Probar con los datos :
math score	reading score	writing score

```
bins = valores_notamate_ordenados.index
bins
len(bins)
plt.figure(figsize = (10,10))
plt.plot(bins_mate,valores_notamate_ordenados,'--', c = "g")
write = alumnos["writing score"]
write_v = write.value_counts(sort=False)
bins_write = write_v.index
plt.plot(bins_write,write_v, c = "r")
plt.show()
```