<a href="https://colab.research.google.com/github/pedrorotta/Python_B-sico-/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable básicas

In [ ]:
#String (Cadenas de texto)

"""
Trabajaremos
con strings 
"""
saludo_bonito = "Hola bienvenidos al curso de Introducción al análisis de datos con Python"
saludo2 = " espero que aprendan mucho"
print(saludo_bonito + saludo2) #concatenación de string 
type(saludo_bonito)

Hola bienvenidos al curso de Introducción al análisis de datos con Python espero que aprendan mucho

str



# Números

In [ ]:
# Enteros
a = 32
b = 14
type(a)
# flotantes
c = 32.12132
# notación científica
d = 0.00000000002
print(type(d))

<class 'float'>

# Boleanos

In [ ]:
a = True
print(type(a))
x = True+1
print(x)
y = False 
z = y*x
print(z)

<class 'bool'>
2
0

# Bases numéricas

In [ ]:
num_binario = 0b10101011
num_octal = 0o10
print(num_binario,num_octal)
print(type(num_binario))

171 8
<class 'int'>

In [ ]:
#cadena de texto con simples comillas
este_es_un_texto = "hola"
esto_es_un_texto = 'hola'

In [ ]:
%whos

Variable                 Type     Data/Info
-------------------------------------------
S3_                      str      lata
S3__sasa232_sdasaaludo   str      lata
a                        bool     True
b                        int      14
c                        float    32.12132
d                        float    2e-11
este_es_un_texto         str      hola
esto_es_un_texto         str      hola
num_binario              int      171
num_octal                int      8
saludo2                  str       espero que aprendan mucho
saludo_bonito            str      Hola bienvenidos al curso<...>lisis de datos con Python
x                        int      2
y                        bool     False
z                        int      0

In [ ]:
saludo

In [ ]:
#función pot 
print(34**(1/3500))

1.0010080393089065

In [ ]:
import math
euler = math.e
suma = euler + 1
print(suma)

3.718281828459045

In [ ]:
import math
phi = math.pi
suma = phi+1
print(suma)

4.141592653589793

In [ ]:
print(False or False)

False

In [ ]:
print(True & True)

True

In [ ]:
a = 54
b = 54
c = 32
print(a != c)

True

In [ ]:
#programa elevar a la 23 un número
x = float(input("escribe un número "))
y = pow(x,23)
#y = x**(23)
print(y)

escribe un número 182
9.586099305075937e+51

In [ ]:
D = {'Nombre': 'Juan', 'edad': 23, 'color':'negro'}
D2 = {'vivienda': 'casa'}
D.update(D2)
print(D)

{'Nombre': 'Juan', 'edad': 23, 'color': 'negro', 'vivienda': 'casa'}